body {
    background-color: #121212;
    color: #e2e2e2;
    font-family: monospace;
    padding-top: 50px;
    margin: 0;
}

h1 {
    font-size: 35px;
}

hr {
    border: 2px dashed #e2e2e2;
}

ul {
    margin: 0;
}

ul.dashed {
    list-style-type: none;
}

ul.dashed>li {
    text-indent: -2em;
}

ul.dashed>li:before {
    content: "- ";
    padding-left: 0em;
}

section {
    margin-bottom: 20px;
}

section h1 {
    margin-bottom: 10px;
}

section p {
    margin-bottom: 15px;
}

section img {
    width: 80%;
    height: auto;
}

.container {
    max-width: 700px;
    /* Adjust max-width as needed */
    margin: 0 auto;
    padding: 10px;
}

.container a {
    color: #CCFFFF;
}

.container a:visited {
    color: #BBAAFF;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #121212;
    color: #e2e2e2;
    font-family: monospace;
    z-index: 1000;
    padding: 10px 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 24px;
    font-weight: bold;
    color: #e2e2e2;
    text-decoration: none;
}

.pages a {
    margin-left: 10px;
    color: #e2e2e2;
    text-decoration: underline;
}

.imgcontainer {
    display: flex;
    flex-wrap: wrap;
}

.artimg {
    width: 50%;
    padding: 5px;
    box-sizing: border-box;
}

.artimg img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1/1;
}
